$gold: #ffc121;
$blue: #314ad7;
$blue70: #7f8fe6;
$blue66: #5ed3f3;
$purple: #8065ec;
$purple75: #939beb;
$purple86: #ccc1f7;
$purple93: #e6e0fb;
$white: #fff;
$white91: #e2e7ef;
$white97: #f4f6fc;
$white99: #fdfdfe;
$grey26: #333f52;
$grey31: #3c4861;
$grey44: #5b6887;
$grey58: #848fa5;
$grey73: #aab6ca;
$grey81: #c2cbda;
$grey87: #d5dce7;
$grey88: #d7dde8;
$grey92: #e6e9ed;
$grey96: #f3f4f6;
$red: #f00;
$red52: #ff370a;
$red53: #b55a5a;
$green30: #009a73;
$green83: #bbeed0;
$black: #000;
