# Dependency directories
node_modules/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# VSCode
.vscode

# production
/build

# cypress
cypress/videos 
cypress/screenshots
