@import "sass/colors";
@import "sass/mixins";

.container {
  display: flex;
  height: 150px;
  margin: 15px 0;
  border-radius: 5px;
  padding-bottom: 7px;
  background-color: $white;
  box-shadow: 0 4px 4px rgba($grey88, 0.15);
  transition: background-color 0.3s ease;
  &:hover {
    background-color: $grey92;
  }
  .imageWrap {
    top: -8px;
    left: -8px;
    width: 145px;
    height: 145px;
    border-radius: 5px;
    position: relative;
    box-shadow: 4px 4px 8px $grey73;
    @media only screen and (max-width: 575px) {
      width: 100%;
      left: 0;
    }
    .image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: left;
      display: block;
      border-radius: 5px;
    }
  }
  .content {
    padding: 20px;
    width: 65%;
    .date {
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.1px;
      color: $grey73;
    }
    .title {
      font-family: "Rubik", sans-serif;
      display: inline-block;
      font-weight: 500;
      font-size: 18px;
      line-height: 18px;
      margin: 10px 0;
      color: $grey31;
      &:hover {
        text-decoration: underline;
      }
    }
    .text {
      font-size: 14px;
      line-height: 21px;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
      color: $grey58;
    }
    .cardIcon {
      @include cardIcon();
    }
    .delete {
      &:hover {
        color: $red;
      }
    }
    .topCardWrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    @media only screen and (max-width: 575px) {
      width: 95%;
    }
  }
  @media only screen and (max-width: 575px) {
    flex-direction: column;
    height: auto;
    align-items: center;
    margin-bottom: 30px;
  }
}
