@import "sass/colors";

.container {
  display: flex;
  align-items: center;
  @media only screen and (max-width: 768px) {
    &.burger {
      flex-direction: column;
      justify-content: center;
      padding: 20px;
      border-top: 2px solid $white97;
      width: 80%;
      margin: 0 auto;
    }
  }
}

.name {
  font-size: 16px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0.25px;
  color: $grey44;
}
