@import "sass/colors";

.toastContainer {
  width: 450px;
  height: 80px;
  position: fixed !important;
  right: 15px !important;
  bottom: 15px !important;
  padding: 15px;
  box-shadow: 0 7px 20px rgba($grey26, 0.25);
}

.progressSuccess {
  background-color: $green30;
}
.progressError {
  background-color: $red52;
}
.progressWarn {
  background-color: $gold;
}
.progressInfo {
  background-color: $blue70;
}
